[tool.poetry]
name = "dems"
version = "0.0.1"
description = "DESHIMA measurement set"
authors = ["Akio Taniguchi <taniguchi@a.phys.nagoya-u.ac.jp>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8, <3.11"
typing-extensions = ">=3.10, <5.0"
xarray-dataclasses = "^1.4"

[tool.poetry.group.dev.dependencies]
black = "^22.12"
ipython = "^8.8"
pytest = "^7.2"

[tool.pyright]
typeCheckingMode = "basic"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
