[tool.poetry]
name = "dems"
version = "0.2.0"
description = "DESHIMA measurement set"
authors = ["Akio Taniguchi <taniguchi@a.phys.nagoya-u.ac.jp>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8, <3.12"
xarray-dataclasses = "^1.6"

[tool.poetry.group.dev.dependencies]
black = "^23.7"
ipython = "^8.12"
pyright = "^1.1"
pytest = "^7.4"

[tool.pyright]
typeCheckingMode = "basic"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
